.env

# Container data
jellyfin/
nextcloud/
pihole/
uptime-kuma/
portainer/
tailscale/
transmission/
media/
lidarr/
navidrome/
npm/
vaultwarden/
immich/
jellyseerr/
prowlarr/
radarr/
sonarr/

# System files and logs
*.log
.DS_Store